<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>民宿旅游网</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery-3.3.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <!--导入布局js，共享header和footer-->
    <script type="text/javascript" src="/js/include.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--引入头部-->
<div id="header"></div>


<div class="bd">

    <ul class="bd-list" id="J_askContent">

        <li class="ask-item clearfix J_askItem" data-question-id="1780801">
            <div class="title"
                 style="padding-top:10px;font-size: 18px; line-height: 28px ; cursor: pointer ; width: 990px;height: 60px;padding-left: 190px">
                <div target="_blank" title="假期出游人太多了，但是非假期又没有时间，纠结。你会在假期出游吗？">假期出游人太多了，但是非假期又没有时间，纠结。你会在假期出游吗？</div>
            </div>

            <div class="content clearfix">

                <img class="product-pic" width="370" height="124"
                     src="https://s.tuniu.net/pic01556325813353.jpg?imageView2/2/w/360/h/200"
                     style="float:left ;margin-right:10px;padding-left: 190px">

                <p class="desc f-side" style="float:left;width:800px ;height: 124px">
                    我会考虑在假期里面出去旅行的，假期出行虽然人多，但是不用占自己的年假，有些假期，例如清明、国庆高速公路还免费的，现在出游大部分都是自驾游，如果高速公路可以免费的话，在旅游经费上可以省很多，我现在都是周边自驾游，如果在非假期期间出去旅行，也是会选择周末，周末出游和假期出游其实都差不多，热门景点人始终会很多，小众景点，人再多也多不到哪里去，旅游的质量和提前其实是差不多的，无非就是酒店的价格会略微涨一些，但也不会特别离谱，只要提前预定好的话就没什么大问题的，所以我会选择在假期出行，而平时的话，也会出去旅行，如果要去比较远的地方，再使用年假。
                </p>
            </div>


            <div class="footer clearfix" style="height: 40px">
                <div class="item answer" style="float:left;padding-left: 190px">
                    <b class="icon-answer" style="font-weight: bolder">评论</b>
                    <span class="txt">87</span>
                </div>
                <div class="item view" style="float:left ;padding-left: 50px">
                    <b class="icon-view" style="font-weight: bolder">赞</b>
                    <span class="txt">117012</span>
                </div>
                <div class="item time" style="float:left ;padding-left: 50px; ">
                    <b style="font-weight: bolder">发表于</b> <span class="txt">2020-01-11 00:43:24</span>
                </div>
            </div>
        </li>


        <li class="ask-item clearfix J_askItem" data-question-id="1780299">

            <div class="title"
                 style="padding-top:10px;font-size: 18px; line-height: 28px ; cursor: pointer ; width: 990px;height: 60px;padding-left: 190px">
                <div target="_blank" title="请问大家出行会选择民宿还是酒店呢？为什么？">请问大家出行会选择民宿还是酒店呢？为什么？</div>
            </div>

            <div class="content clearfix">

                <img class="product-pic" width="370" height="124"
                     src="https://s.tuniu.net/pic01556325813353.jpg?imageView2/2/w/360/h/200"
                     style="float:left ;margin-right:10px;padding-left: 190px">

                <p class="desc f-side" style="float:left;width:800px ;height: 124px">
                    我之前的旅行都是选择的酒店，但最近的西班牙之行入住了几次公寓，感觉很好，也为之后的旅行提供了良好的参考。比如在塞维利亚入住了艾梵蒂娜公寓，公寓距离塞维利亚大教堂仅1分钟的步程，距离黄金塔、塞维利亚大学、斗牛场也不过几分钟的时间，出行相当便捷。我们选择了顶部的6楼，带有阳台的视野将金塔、银塔等景观尽收眼底。公寓内是一个两室两厅的户型，可入住六人，餐饮设施也很完备，可以自己进行美食烹饪，很满意的一个住处。
                </p>
            </div>


            <div class="footer clearfix" style="height: 40px">
                <div class="item answer" style="float:left;padding-left: 190px">
                    <b class="icon-answer" style="font-weight: bolder">评论</b>
                    <span class="txt">45</span>
                </div>
                <div class="item view" style="float:left ;padding-left: 50px">
                    <b class="icon-view" style="font-weight: bolder">赞</b>
                    <span class="txt">177043</span>
                </div>
                <div class="item time" style="float:left ;padding-left: 50px; ">
                    <b style="font-weight: bolder">发表于</b> <span class="txt">2020-03-11 00:53:24</span>
                </div>
            </div>

        </li>


        <li class="ask-item clearfix J_askItem" data-question-id="1780724">
            <div class="title"
                 style="padding-top:10px;font-size: 18px; line-height: 28px ; cursor: pointer ; width: 990px;height: 60px;padding-left: 190px">
                <div target="_blank" title="想知道五一的时候适合哪个城市去游玩">想知道五一的时候适合哪个城市去游玩</div>
            </div>

            <div class="content clearfix">

                <img class="product-pic" width="370" height="124"
                     src="https://s.tuniu.net/pic01556325813353.jpg?imageView2/2/w/360/h/200"
                     style="float:left ;margin-right:10px;padding-left: 190px">

                <p class="desc f-side" style="float:left;width:800px ;height: 124px">
                    五一的时候很适合去西安游玩，那里的气候比较温润，摆脱了冬季的寒冷，躲开了夏季的炎热。四天时间可以游玩很多景点，足以领略这座古城的魅力，推荐行程：D1西安博物院---小雁塔---碑林博物馆---书院门---古城墙，把西安博物院作为西安之行的第一站，能充分直观的了解这座城市的历史；紧邻西安博物院的小雁塔，有关中八景之一的雁塔晨钟；碑林博物馆收藏着从汉到清的一千多块碑石；逛逛书院门古文化一条街后，晚上去古城墙骑行，可观城市的诱人夜色。D2华清池+秦始皇兵马俑博物馆一日游，看世界第八大奇迹的雄伟壮观。D3陕西历史博物馆---钟鼓楼---回民街品尝美食，钟鼓楼的夜色灯光很美，陕博最好早早去排队。D4大明宫遗址公园---大雁塔景区，大明宫遗址公园的遗址博物馆和微缩景观值得参观。
                </p>
            </div>


            <div class="footer clearfix" style="height: 40px">
                <div class="item answer" style="float:left;padding-left: 190px">
                    <b class="icon-answer" style="font-weight: bolder">评论</b>
                    <span class="txt">69</span>
                </div>
                <div class="item view" style="float:left ;padding-left: 50px">
                    <b class="icon-view" style="font-weight: bolder">赞</b>
                    <span class="txt">134012</span>
                </div>
                <div class="item time" style="float:left ;padding-left: 50px; ">
                    <b style="font-weight: bolder">发表于</b> <span class="txt">2019-11-12 06:25:23</span>
                </div>
            </div>

        </li>

        <li class="ask-item clearfix J_askItem" data-question-id="1780691">

            <div class="title"
                 style="padding-top:10px;font-size: 18px; line-height: 28px ; cursor: pointer ; width: 990px;height: 60px;padding-left: 190px">
                <div target="_blank" title="你愿意不办酒席旅行结婚吗？">你愿意不办酒席旅行结婚吗？</div>
            </div>

            <div class="content clearfix">

                <img class="product-pic" width="370" height="124"
                     src="https://s.tuniu.net/pic01556325813353.jpg?imageView2/2/w/360/h/200"
                     style="float:left ;margin-right:10px;padding-left: 190px">

                <p class="desc f-side" style="float:left;width:800px ;height: 124px">
                    如果有机会出去旅游结婚，不办婚礼，我个人是最喜欢的。在很多旅游景点看到拍摄婚纱照的，也有很多人在著名的海岛举办婚礼，觉得实在是太浪漫了！而且还节省了很多繁复的礼节，俗套的程序，油腻的酒席。
                    每一次出去旅游，看到新郎新娘穿着婚纱礼服，拍摄婚纱照，总是心有所动，心有所想！
                    每一次看到新婚夫妇，身穿婚礼礼服，步入景区教堂，举办婚礼，情有所思，情有所愿！

                    出国旅游抓拍了不少人们拍摄婚纱照的照片。这张照片是在尼泊尔巴德岗广场。
                    这张照片是抓拍的马其顿新婚夫妇的照片
                    这张照片是在东欧旅游时，在美泉宫抓拍的新娘
                    这张照片是在上海武康路抓拍的新婚夫妇的婚纱照 </p>
            </div>


            <div class="footer clearfix" style="height: 40px">
                <div class="item answer" style="float:left;padding-left: 190px">
                    <b class="icon-answer" style="font-weight: bolder">评论</b>
                    <span class="txt">49</span>
                </div>
                <div class="item view" style="float:left ;padding-left: 50px">
                    <b class="icon-view" style="font-weight: bolder">赞</b>
                    <span class="txt">10002</span>
                </div>
                <div class="item time" style="float:left ;padding-left: 50px; ">
                    <b style="font-weight: bolder">发表于</b> <span class="txt">2019-11-12 06:28:25</span>
                </div>
            </div>

        </li>

        <li class="ask-item clearfix J_askItem" data-question-id="1780578">

            <div class="title"
                 style="padding-top:10px;font-size: 18px; line-height: 28px ; cursor: pointer ; width: 990px;height: 60px;padding-left: 190px">
                <div target="_blank" title="请问大家，你在旅行中遇到的最尴尬的事是什么？">请问大家，你在旅行中遇到的最尴尬的事是什么？</div>
            </div>

            <div class="content clearfix">

                <img class="product-pic" width="370" height="124"
                     src="https://s.tuniu.net/pic01556325813353.jpg?imageView2/2/w/360/h/200"
                     style="float:left ;margin-right:10px;padding-left: 190px">

                <p class="desc f-side" style="float:left;width:800px ;height: 124px">
                    我旅行中遇到最尴尬的事情就是第一次乘坐飞机去香港的时候，不会办理登机牌，现在想起来还是很尴尬。第一次乘坐飞机，以为是乘坐火车一样，刷身份证，先去了机场柜台办理，然后行李什么都给他们了，以为都OK了，就走了，也没拿行李牌，等入安检的时候，人家问我提供机票，我还和海关说不是刷身份证就可以了嘛，然后海关说还需要登机牌的，然后我在去柜台领取，柜台的工作人员还说你们怎么走了，连登机牌都不拿，我只能说忘记了，而且我身边还有一个随行人员，也是第一次乘飞机，那次旅行超级尴尬，现在和那位随行人员聊天的时候也会提到那次尴尬的经历。
                </p>
            </div>


            <div class="footer clearfix" style="height: 40px">
                <div class="item answer" style="float:left;padding-left: 190px">
                    <b class="icon-answer" style="font-weight: bolder">评论</b>
                    <span class="txt">76</span>
                </div>
                <div class="item view" style="float:left ;padding-left: 50px">
                    <b class="icon-view" style="font-weight: bolder">赞</b>
                    <span class="txt">93287</span>
                </div>
                <div class="item time" style="float:left ;padding-left: 50px; ">
                    <b style="font-weight: bolder">发表于</b> <span class="txt">2019-11-12 06:31:30</span>
                </div>
            </div>

        </li>

        <li class="ask-item clearfix J_askItem" data-question-id="1780578">

            <div class="title"
                 style="padding-top:10px;font-size: 18px; line-height: 28px ; cursor: pointer ; width: 990px;height: 60px;padding-left: 190px">
                <div target="_blank" title="大家评一下，中国最美的海岛有哪些？">大家评一下，中国最美的海岛有哪些？</div>
            </div>

            <div class="content clearfix">

                <img class="product-pic" width="370" height="124"
                     src="https://s.tuniu.net/pic01556325813353.jpg?imageView2/2/w/360/h/200"
                     style="float:left ;margin-right:10px;padding-left: 190px">

                <p class="desc f-side" style="float:left;width:800px ;height: 124px">
                    我觉得去年底前往的福建霞浦的嵛山岛，不愧为全国最美十大岛屿之一的海岛。素有“海上明珠”之称的嵛山岛，风光旖旎，有天湖泛彩、南国天山、海角晴空等胜景，被列为世界地质公园太姥山风景区四大景观之一。嵛山岛在海拔200米处，湖四周山坡平缓，有“南国天山”之誉的万亩草场，而且沿岸礁石林立，海蚀地貌十分突出，构成奇特的景观，岛上的植被也相当茂密，大有诗句中的，“天苍苍野茫茫风吹草低见牛羊”的雄伟气势，嵛山岛上同时栖息着成千上万只海鸥和其他候鸟，乍然飞起，十分壮观。闺蜜一行来到这里，躺在柔软舒适的草地上，看蓝天白云的美丽，观连绵起伏的群山，赏麦浪翻滚的草场，聊聊家长里短，可谓惬意无限。
                </p>
            </div>


            <div class="footer clearfix" style="height: 40px">
                <div class="item answer" style="float:left;padding-left: 190px">
                    <b class="icon-answer" style="font-weight: bolder">评论</b>
                    <span class="txt">12</span>
                </div>
                <div class="item view" style="float:left ;padding-left: 50px">
                    <b class="icon-view" style="font-weight: bolder">赞</b>
                    <span class="txt">10299</span>
                </div>
                <div class="item time" style="float:left ;padding-left: 50px; ">
                    <b style="font-weight: bolder">发表于</b> <span class="txt">2019-12-12 00:22:52</span>
                </div>
            </div>

        </li>


        <li class="ask-item clearfix J_askItem" data-question-id="1780458">

            <div class="title"
                 style="padding-top:10px;font-size: 18px; line-height: 28px ; cursor: pointer ; width: 990px;height: 60px;padding-left: 190px">
                <div target="_blank"  title="五一快到了，这次小长假有四天，去哪出游比较好？">五一快到了，这次小长假有四天，去哪出游比较好？</div>
            </div>

            <div class="content clearfix">

                <img class="product-pic" width="370" height="124"
                     src="https://s.tuniu.net/pic01556325813353.jpg?imageView2/2/w/360/h/200"
                     style="float:left ;margin-right:10px;padding-left: 190px">

                <p class="desc f-side" style="float:left;width:800px ;height: 124px">
                    今年五一小长假里面有4天时间休息，我会用2天的时间出去游玩，已经和家里的人约好去安徽芜湖游玩，虽然我已经去过那里了，不过和家人出去还是很少有的。每个主题乐园基本都玩上一天，每个景区的门票都是单独出售的。我上次只去了东方神画和水世界，东方神画内有很多刺激的项目，例如过山车、跳楼机，但这种天气，特别是冰雪世界，我们是穿短袖去的，但冰雪世界里面的气温是零下18度，所以去冰雪世界需要租借大棉袄，费用为10元，冰雪世界内有滑滑梯，有小火车等项目可以体验，在冰雪世界内就可以玩很久，是一次不错的降温之旅。五一长假去芜湖挺好的，因为江浙一带出去旅行的人肯定很多，路上和景点都会很拥堵，相比之下，安徽的城市游客人数没那么多。
                </p>
            </div>


            <div class="footer clearfix" style="height: 40px">
                <div class="item answer" style="float:left;padding-left: 190px">
                    <b class="icon-answer" style="font-weight: bolder">评论</b>
                    <span class="txt">88</span>
                </div>
                <div class="item view" style="float:left ;padding-left: 50px">
                    <b class="icon-view" style="font-weight: bolder">赞</b>
                    <span class="txt">87655</span>
                </div>
                <div class="item time" style="float:left ;padding-left: 50px; ">
                    <b style="font-weight: bolder">发表于</b> <span class="txt">2019-07-13 13:27:29</span>
                </div>
            </div>

        </li>

        <li class="ask-item clearfix J_askItem" data-question-id="1780475">

            <div class="title"
                 style="padding-top:10px;font-size: 18px; line-height: 28px ; cursor: pointer ; width: 990px;height: 60px;padding-left: 190px">
                <div target="_blank"  title="请问上海有没有比较文艺范小清新的景点？适合闺蜜情侣的">请问上海有没有比较文艺范小清新的景点？适合闺蜜情侣的</div>
            </div>

            <div class="content clearfix">

                <img class="product-pic" width="370" height="124"
                     src="https://s.tuniu.net/pic01556325813353.jpg?imageView2/2/w/360/h/200"
                     style="float:left ;margin-right:10px;padding-left: 190px">

                <p class="desc f-side" style="float:left;width:800px ;height: 124px">
                    上海的田子坊呀，石库门是一种融汇了西方文化和汉族传统民居特点的新型建筑，是最具上海特色的居民住宅。但是随着上海这座城市的发展，石库门房子已经越来越少，而位于上海市泰康路的田子坊，是一个利用石库门房子而建设起来的特色区域。来上海想了解石库门文化的游客，田子坊是一定要去的。田子坊内大多以餐饮为主，也有不少的出售纪念品的商店，田子坊内有很多小店，很多文艺青年都喜欢在里面用餐，然后拍出美美的照片。田子坊附近有地铁，是9号线打浦桥站，打浦桥站出来是日月光，日月光里也聚集着非常多的美食，吃客可以大饱口福，上海本地人也经常会去的。
                </p>
            </div>


            <div class="footer clearfix" style="height: 40px">
                <div class="item answer" style="float:left;padding-left: 190px">
                    <b class="icon-answer" style="font-weight: bolder">评论</b>
                    <span class="txt">22</span>
                </div>
                <div class="item view" style="float:left ;padding-left: 50px">
                    <b class="icon-view" style="font-weight: bolder">赞</b>
                    <span class="txt">34563</span>
                </div>
                <div class="item time" style="float:left ;padding-left: 50px; ">
                    <b style="font-weight: bolder">发表于</b> <span class="txt">2019-05-09 07:51:39</span>
                </div>
            </div>

        </li>


        <li class="ask-item clearfix J_askItem" data-question-id="1780297">


            <div class="title"
                 style="padding-top:10px;font-size: 18px; line-height: 28px ; cursor: pointer ; width: 990px;height: 60px;padding-left: 190px">
                <div target="_blank"  title="请问大家出行一般都选择高铁还是飞机呀？怎么样可以买到便宜的机票？">请问大家出行一般都选择高铁还是飞机呀？怎么样可以买到便宜的机票？</div>
            </div>

            <div class="content clearfix">

                <img class="product-pic" width="370" height="124"
                     src="https://s.tuniu.net/pic01556325813353.jpg?imageView2/2/w/360/h/200"
                     style="float:left ;margin-right:10px;padding-left: 190px">

                <p class="desc f-side" style="float:left;width:800px ;height: 124px">
                    选择高铁还是飞机，要看出行的目的地和时间安排。一般国内旅行，我大多选择自驾或高铁，很少乘坐飞机，但是如果是出国长途游，一定是要乘坐飞机的。国内乘坐高铁的原因，一是节省了往返机场和提前等待的时间，二是有些铁道两旁的景致还是很美的，比如去往成都的三月，铁路两旁黄绿相间的油菜田很养目。长途乘坐飞机也会有很好的景致，春节前往西班牙的空中体验，山峦湖泊、皑皑雪山、天边的晚霞、羊群般的白云朵朵，很美很美！所以，无论高铁还是飞机，都挺好！至于如何买到便宜的机票，我也想知道。春节搭乘的国航提前两个月买的机票，感觉并没有便宜多少。可能提前购买或经常上网搜价格，会遇到便宜的吧。
                </p>
            </div>


            <div class="footer clearfix" style="height: 40px">
                <div class="item answer" style="float:left;padding-left: 190px">
                    <b class="icon-answer" style="font-weight: bolder">评论</b>
                    <span class="txt">34</span>
                </div>
                <div class="item view" style="float:left ;padding-left: 50px">
                    <b class="icon-view" style="font-weight: bolder">赞</b>
                    <span class="txt">22341</span>
                </div>
                <div class="item time" style="float:left ;padding-left: 50px; ">
                    <b style="font-weight: bolder">发表于</b> <span class="txt">2019-07-22 11:13:34</span>
                </div>
            </div>


        </li>


    </ul>

    <div style="padding-top:10px;font-size: 18px; line-height: 28px ; cursor: pointer ; width: 990px;height: 60px;padding-left: 190px">
    <a href="javascript:;" class="more-btn" id="J_askMoreBtn">
        <span class="btn-txt">加载更多</span>
        <i class="icon-img"></i>
    </a>
    </div>
</div>

<!--导入底部-->
<div id="footer"></div>

</body>
</html>